<div class="container mt-2 col-md-6">
    <div class="card my-5">

        <div *ngIf="packageCreated" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill" style="margin-right: 10px;"></i><strong>Paquete enviado
                exitosamente!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div *ngIf="hasError" class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-circle-fill" style="margin-right: 10px;"></i><strong>{{message}}</strong>
            <button type="button" (click)="toggleHasError()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="card text-center">
            <div class="card-header">
                <h3>Ingresar Paquete</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="container mb-2">
                <form [formGroup]="packageEntryForm">
                    <div class="mb-3">
                        <label name="nit" class="form-label">NIT del cliente:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="nit" formControlName="nit"
                                placeholder="Número de 7 dígitos">
                            <button (click)="verifyNitToSend()" class="btn btn-success" type="button"
                                [disabled]="nitControl.invalid">
                                <i class="bi bi-person-fill-check"></i> Verificar/Registrar
                            </button>

                        </div>
                    </div>
                    <div class="errors-container"
                        *ngIf="nitControl.invalid && (nitControl.touched || nitControl.dirty)">
                        <p class="error-msg" *ngIf="nitControl.hasError('required')">
                            El campo es obligatorio
                        </p>
                        <p class="error-msg"
                            *ngIf="nitControl.hasError('minlength') || nitControl.hasError('maxlength')">
                            La longitud del NIT debe ser de 7
                        </p>
                    </div>

                    <div class="mb-3">
                        <label name="destination" class="form-label">Destino:</label>
                        <select class="form-select" name="destination" formControlName="destination">
                            <option value="valInicial" selected>Seleccione un destino:</option>
                            <ng-container *ngFor="let destination of destinations">
                                <option value="{{destination.id}}">{{destination.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="errors-container"
                        *ngIf="destinationControl.value === 'valInicial' && destinationControl.touched">
                        <p class="error-msg">
                            Por favor eliga un destino valido
                        </p>
                    </div>

                    <div class="mb-3">
                        <label name="weight" class="form-label">Peso (lb):</label>
                        <input type="text" class="form-control" name="weight" formControlName="weight"
                            placeholder="En libras (lb)">
                    </div>
                    <div class="errors-container"
                        *ngIf="weightControl.invalid && (weightControl.touched || weightControl.dirty)">
                        <p class="error-msg" *ngIf="weightControl.hasError('required')">
                            El campo es obligatorio
                        </p>
                    </div>

                    <div class="mb-3">
                        <label name="entryDate" class="form-label">Fecha actual:</label>
                        <input type="date" class="form-control" name="entryDate" formControlName="entryDate">
                    </div>
                    <div class="errors-container"
                        *ngIf="entryDateControl.invalid && (entryDateControl.touched || entryDateControl.dirty)">
                        <p class="error-msg" *ngIf="entryDateControl.hasError('required')">
                            El campo es obligatorio
                        </p>
                    </div>

                    <div class="text-center">
                        <button (click)="addPackage()" type="button" class="btn btn-primary mt-2 me-4">Agregar Paquete</button>
                        <button (click)="togglePayModalVisibility()" [disabled]="isPaymentDisabled" type="button" 
                            class="btn btn-success mt-2 me-4">Pagar Envio</button>
                        <button (click)="clearInfo()" [disabled]="isPaymentDisabled" type="button" class="btn btn-danger mt-2 me-4">Cancelar Envio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-background" *ngIf="isCustomerFormOpened">
    <app-customer-form [nitValue]="this.nitControl.value"
        (toggleFormVisibility)="toggleCustomerFormVisibility()"></app-customer-form>
</div>

<div class="modal-background" *ngIf="isPaymentModalOpened">
    <app-packages-to-pay [customerNit]="this.nitControl.value" [destinations]="destinations" [pricePerPound]="pricePerPound"
        [invoiceNo]="invoiceNo" (togglePayModalVisibility)="togglePayModalVisibility()" (paymentMade)="clearInfo()"></app-packages-to-pay>
</div>